<h1>Create New User</h1>


<form action="/users" method="POST">
  <input type="text" name="user[name]" placeholder="enter name">
  <input type="number" name="user[shoe_size]" placeholder="shoe size">
  <input type="number" name="user[age]" placeholder="age">
  <input type="number" name="user[budget_in_usd]" placeholder="budget">
  
  <input type="submit" >
 
</form> 

